/* ========== General CSS ========== */
body {
  font-family: "Open Sans", sans-serif;
  color: #707070;
  font-size: 14px;
  line-height: 1.6em;
  -webkit-backface-visibility: hidden;
}
::-moz-selection {
  background: #1bbde8;
  color: #fff;
  text-shadow: none;
  outline: none;
}
::selection {
  background: #1bbde8;
  color: #fff;
  text-shadow: none;
  outline: none;
}
.btn {
  padding: 18px 36px;
  border-radius: 50px;
  border: 0;
}
.btn.btn-primary {
  background: #ff8a00;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin: 0;
}

a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color: #707070;
  outline: 0;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  max-width: 100%;
}

.bg-color-brand {
  background: #ff8a00;
}

.bg-color-dark {
  background: #1b1b1b;
}

/* Margin Class */
.mt15 { margin-top: 15px }
.mt60 { margin-top: 60px }
.mt65 { margin-top: 65px }
.mb15 { margin-bottom: 15px }
.mb30 { margin-bottom: 30px }
.mb40 { margin-bottom: 40px }
.mb50 { margin-bottom: 50px }
.mb60 { margin-bottom: 60px }

/* Padding Class */
.pad8 { padding: 80px 0px }
.pb60 { padding-bottom: 60px }
.pt90 { padding-top: 90px }
.pt120px { padding-top: 120px }
.pad120 { padding: 120px 0px }
.no-pad { padding: 0 }

.parallax {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;
  background-size: cover;
}

.bg_banner {
    background: url(../img/coding.jpeg);
}



.bg-img


/*  indicator */
.indicator {
  width: 45px;
  height: 80px;
  position: absolute;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  text-align: center;
  padding-top: 10px;
}

.indicator.light {
  background: #fff;
  color: #000;
}

.indicator.dark {
  background: #1b1b1b;
  color: #fff;
}

.indicator.brand {
  background: #ff8a00;
  color: #fff;
}

.indicator.left {
  left: 0;
}

.indicator.right {
  right: 0;
}

.indicator:hover {
  background: #ff8a00;
  color: #fff;
}

.section_title .title_text , .section_title .sm_title_text{
  color: #000;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.section_title .sm_title_text {
  font-size: 30px;
  margin-bottom: 30px;
}
.section_title .subtitle_text {
  color: #ff8a00;
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 40px;
}

.alter_text {
  color: #c2c2c2;
}
.alter_text .section_title .title_text, .alter_text .section_title .sm_title_text {
  color: #fff;
}
.alter_text .section_title .subtitle_text {
  color: #fff;
}




/* ========== Navigation CSS ========== */
/* 2.1 navbar global */
.navbar {
  margin-bottom: 0;
}

.navbar.navbar-default {
  border: 0;
  border-bottom: 1px solid #333;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar.navbar-default.navbar-bg {
  background: rgba(0, 0, 0, 0.85);
}

.navbar.navbar-default.navbar-bg .navbar-brand > img {
  width: 60%;
}

.navbar.navbar-default.navbar-bg .navbar-nav > li > a {
  line-height: 70px;
}

.navbar.navbar-default .navbar-brand > img {
  width: 75%;
  position: relative;
  top: -10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar.navbar-default .navbar-nav {
  padding-right: 20px;
}

.navbar.navbar-default .navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  line-height: 100px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

.navbar.navbar-default .navbar-nav > li > a:hover {
  color: #ff8a00;
  background: transparent;
}

.navbar.navbar-default .navbar-nav > li:before {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ff8a00;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar.navbar-default .navbar-nav > li:hover:before {
  width: 100%;
  background: #ff8a00;
}

.navbar.navbar-default .navbar-nav .active > a {
  color: #ff8a00;
  background: transparent;
}

.navbar.navbar-default .navbar-nav .active:before {
  content: '';
  display: block;
  width: 100%;
  background: #ff8a00;
}

.navbar.navbar-default .navbar-nav > .open > a {
  color: #fff;
  background: transparent;
}

.navbar.navbar-default .navbar-nav .dropdown > a:after {
  content: '\f107';
  font-family: "FontAwesome";
  display: inline-block;
  margin-left: 5px;
  line-height: 20px;
}

.navbar.navbar-default .navbar-nav .dropdown .dropdown-menu {
  border: 0;
  background: #000;
  padding: 0;
}

.navbar.navbar-default .navbar-nav .dropdown .dropdown-menu > li > a {
  color: #fff;
  font-size: 13px;67%
  padding: 8px 20px;
  text-transform: uppercase;
}

.navbar.navbar-default .navbar-nav .dropdown .dropdown-menu > li > a:hover {
  color: #fff;
  background: #ff8a00;
}

.navbar.navbar-default .navbar-nav .dropdown .dropdown-menu > li.active > a {
  color: #fff;
  background: #ff8a00;
}

.navbar.navbar-default .navbar-toggle {
  background: #ff8a00;
  border: 0;
  padding: 10px;
  margin-top: 18px;
}

.navbar.navbar-default .navbar-toggle .icon-bar {
  background: #000;
}

/* 2.2 navbar on lg screen */
@media screen and (min-width: 768px) {
  .navbar.navbar-default .navbar-nav {
    float: right;
  }
  .navbar.navbar-default .navbar-nav > li:before {
    height: 2px;
  }
  .navbar.navbar-default .navbar-nav .active:before {
    height: 2px;
  }
}

/* 2.3 navbar on sm & xs screen */
@media screen and (max-width: 768px) {
  .navbar {
    margin-bottom: 0;
    min-height: 72px;
  }
  .navbar.navbar-default {
    background-color: #000;
  }
  .navbar.navbar-default .navbar-brand > img {
    width: 50%;
  }
  .navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar.navbar-default .navbar-collapse.collapse {
    padding-left: 0;
    margin-left: 0;
  }
  .navbar.navbar-default .navbar-nav {
    padding-right: 0;
  }
  .navbar.navbar-default .navbar-nav > li > a {
    line-height: 30px;
  }
  .navbar.navbar-default .navbar-nav > li:after {
    height: 0px;
  }
  .navbar.navbar-default .navbar-nav > li .active:after {
    height: 0;
  }
  .navbar.navbar-default .navbar-nav .active > a {
    color: #fff;
  }
  .navbar.navbar-default .navbar-nav .dropdown > a:after {
    content: '\f105';
    font-family: "FontAwesome";
    display: inline-block;
    margin-left: 5px;
  }
  .navbar.navbar-default .navbar-nav .dropdown > a:focus:after {
    content: '\f107';
  }
  .navbar.navbar-default .navbar-nav .dropdown .dropdown-menu > li > a {
    padding: 5px 30px;
  }
}

/* ========== Banner CSS ========== */
.banner_home {
    height: 100vh;
    background-position: bottom right;
    background-size: cover;
    background-attachment: fixed;
}
.main_banner_content {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; n
}
.main_banner_content span {
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.main_banner_content h2 {
  color: #ff8a00;
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 30px 0 35px;
}
.about_section .label:hover {
  background: #ff9200;
  color: #fff;
}

/* ========== About CSS ========== */
.bio-table table {
  width: 425px;
}
.bio-mail,
.bio-tel {
  color: #707070;
}

/* ========== Knowledge CSS ========== */
.feature_box .feature_title {
  color: #ff8a00;
  margin-bottom: 15px;
}

.feature_box .feature_title i {
  display: inline-block;
  margin-right: 25px;
  font-size: 28px;
}

.feature_box .feature_title h4 {
  display: inline-block;
}

.alter_text .skill h4 {
  color: #fff;
}
.alter_text .skill .progress {
  background-color: #505050;
}
.skill h4 {
  color: #000;
  margin-bottom: 10px;
}

.skill h4 span {
  margin-left: 50px;
}

.skill .progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  background-color: #d6d6d6;
}

.skill .progress .progress-bar {
  background-color: #ff8a00;
  -webkit-box-shadow: none;
}

/* ========== Experience CSS ========== */
.experience_item .duration {
  color: #ff8a00;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  line-height: 30px;
  border: 8px solid #ff8a00;
  text-align: center;
  padding: 50px 0;
}

.experience_item .content .title {
  color: #000;
  text-transform: uppercase;
  margin: 7px 0;
  font-size: 24px;
}

.experience_item .content .designation {
  color: #ff8a00;
  font-size: 16px;
}

/* ========== Portfolio CSS ========== */
.portfolio-wrap .portfolio-item .portfolio-thumb {
  position: relative;
}

.portfolio-wrap .portfolio-item .portfolio-thumb img {
  max-width: 100%;
}

.portfolio-wrap .portfolio-item .portfolio-thumb .overley {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio-wrap .portfolio-item .portfolio-thumb .overley .portfolio-title {
  color: #fff;
  position: relative;
  width: 100%;
  height: 40px;
  top: 50%;
  margin-top: -35px;
  text-align: center;
  left: 0;
  text-transform: uppercase;
}

.portfolio-wrap .portfolio-item .portfolio-thumb .overley .portfolio-title i {
  color: #fff;
  font-size: 18px;
  margin-left: 15px;
  width: 42px;
  height: 42px;
  border: 1px solid #eee;
  line-height: 36px;
  margin-bottom: 20px;
  margin-left: -3px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio-wrap .portfolio-item .portfolio-thumb .overley .portfolio-title i:hover {
  border-color: #ff8a00;
  background: #ff8a00;
}

.portfolio-wrap .portfolio-item:hover .overley {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.portfolio-wrap .grid-item {
  width: 25%;
  padding: 10px;
}

.portfolio-wrap .grid-item--width2 {
  width: 50%;
}